/* Tablet */
@media only screen and (min-width:433px) and (max-width: 1255px){

    .header_container{
        .navigation{
            width: 80%;
            flex-wrap: wrap;
            li {
                padding-bottom: 20px;
                text-align: center;
                justify-content: center;
            }
        }
   }


}