/*Comienzo About*/
.about{
    @include justify(center);
    margin-top: 200px;
    padding-top: 20px;
    padding-left: 15px;

    .imagen_about{
        height: 500px;
        width: 500px;
        border-radius: 60px;
        transform-origin: center center;
        transition: transform 3s;
        &:hover{
            transform: rotate(20deg) ;
        }
    }    
}

.acercaDe{
    font-size: 1.5rem;
    font-family: $tipo-fuente2;
    width: 620px;
    text-align: center;
    margin: 0px 60px;
    font-style: italic;
    letter-spacing: 2px;
    word-spacing: 4px;
        &:hover{
            transform: translate(60px, -30px) ;
            transition: all 1s ease-out;
        }
}

@media only screen and (max-width:993px){
    .about{
        padding:0;
        flex-direction: row;
        flex-wrap: wrap;
        .imagen_about{
            width: 60vw;
            height: 60vh;
            &:hover{
                transform: none;
            }
        }
        .acercaDe{
            padding: 70px 0 0 0;
            width: 75vw;
        }
}
}
/*Fin About*/