/* Footer Start*/

.img_index_final{
   
    margin: 60px 50px;
    width: 50vw;
    height: 500px;
    border-radius: 500px;
    justify-content: center;
}

footer{
    text-align: center;
    font-size: 3rem;
    .fab ,.far {
        margin: 100px 20px 20px 10px;
        color: $color-ppal;
    }
}


@media only screen and (max-width:993px){
    footer{
        font-size: 1.7rem;
        .img_index_final{
            width: 75vw;
            height: 50vh;
        }
        .fab, .far {
            margin: 0 20px;
            flex-direction: column;
        }
    }
}


/* Footer End*/