/* Footer Start*/

.img_index_final{
   
    margin: 60px 50px;
    width: 50vw;
    height: 500px;
    border-radius: 500px;
    justify-content: center;
}

footer{
    text-align: center;
    font-size: 3rem;
    .fab ,.far {
        margin: 100px 20px 20px 10px;
        color: $color-ppal;
    }
}


/* Footer End*/