/* Header Start*/

.header_container{
    top: 0;
    @extend %flex;
    position: fixed;
    background-color: white;
    padding: 60px 15px;
    font-family: $tipo-fuente;
    height: 100px;
    z-index: 2;
    
    .logo{
        margin: 0 20px 0 50px;
        height: 100px;
        width: 100px;
        border-radius: 50px;

        &:hover{
            transform: scale(1.5);
            transition: all 1s;
        }
    }

    .navigation{
        display: flex;
        letter-spacing: 2px;
        word-spacing: 2px;
        padding-top: 15px;
        justify-content: space-around;
        align-items: center;
        width: inherit;
            li{
            a{
                text-decoration: none;
                color: $color-ppal;
                font-size: 1.4rem;
                padding: 0px 25px;
                font-weight: bold;
                font-style: italic;
                white-space: normal;
    
                &:hover,&:active{
                    text-decoration: underline;
                }
            }
        }
    }
}

@media only screen and (max-width:993px){
    .header_container{
        margin-bottom: 20px;
    }
    .navbar{
        background: rgb(228, 226, 195);
        
    }
    ul.navigation{
        li{
            display: flex;
            align-items:flex-end;
            margin-right: 20px;
        }
        }
}

/* Header End*/