/* Comienzo Videoteca*/
.videotec2{
    display: flex;
    justify-content: center;
    margin: 200px 20px 100px 20px;

    .videoteca2{
        float: left;
        border-radius: 5%;
        margin-right: 60px;
    }

    .texto_info{
        color: goldenrod;
        font-size: 2rem;
    }
}

/* Fin videoteca*/
